
body{
    background-color: #111111;
}

.navbar {
    background-color: #1F1F1F !important;
}
.navbar-brand{
    color: white !important; 
    font-size: 2rem;
    margin-right: 11vh;
}
.navbar-toggler-icon{
    font-size: 4vh;
}

main{
    color: white;
    font-family: 'Open Sans', sans-serif;
}


.popular{
    padding-top: 3vh;
    font-size: 20px;
}
.p{
    margin-top: 2vh;
    font-family: 'Open Sans';
    
}
.row{
    padding-top: 1vh;
    
}
.row-cols-1{
    margin-top: 5rem;
}
/*.img{
    padding: 5rem;
}*/
.col-item{
    background-color: #1E1E1E;
    border-radius: 40px;
    margin-bottom:4vh ;
    padding-bottom: 15px;
}

* {
    box-sizing: border-box;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}
.rating {
    width:120px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1vh;
  }
  
  .rating:not(:checked)>input {
    display: none;
  }
  
  .rating:not(:checked)>label {
    width: 40px;
    cursor: pointer;
    font-size: 40px;
    color: #5A3B29;
    text-align: center;
    line-height: 1;
  }
  
  .rating:not(:checked)>label:before {
    content: 'â—';
  }
  
  .rating>input:checked~label {
    color: #D7601E;
  }
  
  .rating:not(:checked)>label:hover,
  .rating:not(:checked)>label:hover~label {
    color: #D7601E;
  }
  .btn-info{
    border: none;
    background-color: #D7601E;
    color: #f1f1f1;
  }
  .small{
    color: #D7601E;
  }
  .btn-outline-secondary{
    background-color: #D9D9D9;
  }
.panel-body{
    background-color: #1E1E1E;
    border-radius: 30px;
    margin-bottom:4vh ;
    padding-bottom: 3vh;
    padding-top: 7vh;
}
.form-control{
    background-color: #353535;
    color:#A09D9D;
}
textarea{
    color:#A09D9D;
}